[submodule "patch/patch"]
	path = patch/patch
	url = https://github.com/BRL-CAD/patch
[submodule "astyle/astyle"]
	path = astyle/astyle
	url = https://github.com/BRL-CAD/astyle
[submodule "lief/LIEF"]
	path = lief/LIEF
	url = https://github.com/BRL-CAD/LIEF
	branch = RELEASE
[submodule "lemon/lemon"]
	path = lemon/lemon
	url = https://github.com/BRL-CAD/lemon
[submodule "re2c/re2c"]
	path = re2c/re2c
	url = https://github.com/BRL-CAD/re2c
	branch = RELEASE
[submodule "perplex/perplex"]
	path = perplex/perplex
	url = https://github.com/BRL-CAD/perplex
