[submodule "patch/patch"]
	path = patch/patch
	url = https://github.com/BRL-CAD/patch
	ignore = dirty
[submodule "astyle/astyle"]
	path = astyle/astyle
	url = https://github.com/BRL-CAD/astyle
	ignore = dirty
[submodule "lief/LIEF"]
	path = lief/LIEF
	url = https://github.com/BRL-CAD/LIEF
	branch = master
	ignore = dirty
[submodule "lemon/lemon"]
	path = lemon/lemon
	url = https://github.com/BRL-CAD/lemon
	ignore = dirty
[submodule "re2c/re2c"]
	path = re2c/re2c
	url = https://github.com/BRL-CAD/re2c
	branch = RELEASE
	ignore = dirty
[submodule "perplex/perplex"]
	path = perplex/perplex
	url = https://github.com/BRL-CAD/perplex
	ignore = dirty
[submodule "plief/plief"]
	path = plief/plief
	url = https://github.com/BRL-CAD/plief
	ignore = dirty
[submodule "strclear/strclear"]
	path = strclear/strclear
	url = https://github.com/BRL-CAD/strclear
	ignore = dirty
[submodule "xmltools/xmltools"]
	path = xmltools/xmltools
	url = https://github.com/BRL-CAD/xmltools
	ignore = dirty
[submodule "zlib/zlib"]
	path = zlib/zlib
	url = https://github.com/BRL-CAD/zlib
	ignore = dirty
[submodule "png/libpng"]
	path = png/libpng
	url = https://github.com/BRL-CAD/libpng
	branch = RELEASE
	ignore = dirty
[submodule "netpbm/netpbm"]
	path = netpbm/netpbm
	url = https://github.com/BRL-CAD/netpbm
	branch = brlcad
	ignore = dirty
[submodule "regex/regex"]
	path = regex/regex
	url = https://github.com/BRL-CAD/regex
	ignore = dirty
[submodule "linenoise/linenoise"]
	path = linenoise/linenoise
	url = https://github.com/BRL-CAD/linenoise
	branch = RELEASE
	ignore = dirty
[submodule "lmdb/lmdb"]
	path = lmdb/lmdb
	url = https://github.com/BRL-CAD/lmdb
	branch = RELEASE
	ignore = dirty
[submodule "eigen/eigen"]
	path = eigen/eigen
	url = https://github.com/BRL-CAD/eigen
	branch = RELEASE
	ignore = dirty
[submodule "stepcode/stepcode"]
	path = stepcode/stepcode
	url = https://github.com/BRL-CAD/stepcode
	branch = RELEASE
	ignore = dirty
[submodule "sqlite3/sqlite3"]
	path = sqlite3/sqlite3
	url = https://github.com/BRL-CAD/sqlite3.git
	ignore = dirty
[submodule "proj/PROJ"]
	path = proj/PROJ
	url = https://github.com/BRL-CAD/PROJ
	branch = RELEASE
	ignore = dirty
[submodule "gdal/gdal"]
	path = gdal/gdal
	url = https://github.com/BRL-CAD/gdal
	branch = RELEASE
	ignore = dirty
[submodule "assetimport/assimp"]
	path = assetimport/assimp
	url = https://github.com/BRL-CAD/assimp
	branch = RELEASE
	ignore = dirty
[submodule "opencv/opencv"]
	path = opencv/opencv
	url = https://github.com/BRL-CAD/opencv
	branch = RELEASE
	ignore = dirty
[submodule "openmesh/OpenMesh"]
	path = openmesh/OpenMesh
	url = https://github.com/BRL-CAD/OpenMesh
	branch = RELEASE
	ignore = dirty
[submodule "opennurbs/opennurbs"]
	path = opennurbs/opennurbs
	url = https://github.com/BRL-CAD/opennurbs
	branch = RELEASE
	ignore = dirty
[submodule "osmesa/osmesa"]
	path = osmesa/osmesa
	url = https://github.com/BRL-CAD/osmesa
	ignore = dirty
[submodule "utahrle/utahrle"]
	path = utahrle/utahrle
	url = https://github.com/BRL-CAD/utahrle
	ignore = dirty
[submodule "tk/tk"]
	path = tk/tk
	url = https://github.com/BRL-CAD/tk
	branch = RELEASE
	ignore = dirty
[submodule "itcl3/itcl"]
	path = itcl/itcl
	url = https://github.com/BRL-CAD/itcl
	branch = RELEASE
	ignore = dirty
[submodule "itk3/itk"]
	path = itk/itk
	url = https://github.com/BRL-CAD/itk
	branch = RELEASE
	ignore = dirty
[submodule "iwidgets/iwidgets"]
	path = iwidgets/iwidgets
	url = https://github.com/BRL-CAD/iwidgets
	ignore = dirty
[submodule "tktable/tktable"]
	path = tktable/tktable
	url = https://github.com/BRL-CAD/tktable
	ignore = dirty
[submodule "tkhtml/tkhtml"]
	path = tkhtml/tkhtml
	url = https://github.com/BRL-CAD/tkhtml
	ignore = dirty
[submodule "qt/qt"]
	path = qt/qt
	url = https://github.com/BRL-CAD/qt
	ignore = dirty
[submodule "flexbison/bison"]
	path = flexbison/bison
	url = https://github.com/BRL-CAD/bison
	ignore = dirty
[submodule "flexbison/flex"]
	path = flexbison/flex
	url = https://github.com/BRL-CAD/flex
	branch = RELEASE
	ignore = dirty
[submodule "flexbison/winflexbison"]
	path = flexbison/winflexbison
	url = https://github.com/BRL-CAD/winflexbison
	branch = RELEASE
	ignore = dirty
[submodule "minizip-ng/minizip-ng"]
	path = minizip-ng/minizip-ng
	url = https://github.com/BRL-CAD/minizip-ng
	branch = RELEASE
	ignore = dirty
[submodule "lz4/lz4"]
	path = lz4/lz4
	url = https://github.com/BRL-CAD/lz4
	branch = RELEASE
	ignore = dirty
[submodule "deflate/libdeflate"]
	path = deflate/libdeflate
	url = https://github.com/BRL-CAD/libdeflate
	branch = RELEASE
	ignore = dirty
[submodule "fmt/fmt"]
	path = fmt/fmt
	url = https://github.com/BRL-CAD/fmt
	branch = RELEASE
	ignore = dirty
[submodule "yaml-cpp/yaml-cpp"]
	path = yaml-cpp/yaml-cpp
	url = https://github.com/BRL-CAD/yaml-cpp
	branch = RELEASE
	ignore = dirty
[submodule "pystring/pystring"]
	path = pystring/pystring
	url = https://github.com/BRL-CAD/pystring
	branch = RELEASE
	ignore = dirty
[submodule "expat/libexpat"]
	path = expat/libexpat
	url = https://github.com/BRL-CAD/libexpat
	branch = RELEASE
	ignore = dirty
[submodule "pugixml/pugixml"]
	path = pugixml/pugixml
	url = https://github.com/BRL-CAD/pugixml
	branch = RELEASE
	ignore = dirty
[submodule "xerces-c/xerces-c"]
	path = xerces-c/xerces-c
	url = https://github.com/BRL-CAD/xerces-c
	branch = RELEASE
	ignore = dirty
[submodule "icu/icu"]
	path = icu/icu
	url = https://github.com/BRL-CAD/icu
	branch = RELEASE
	ignore = dirty
[submodule "jpeg/libjpeg-turbo"]
	path = jpeg/libjpeg-turbo
	url = https://github.com/BRL-CAD/libjpeg-turbo
	branch = RELEASE
	ignore = dirty
[submodule "tiff/libtiff"]
	path = tiff/libtiff
	url = https://github.com/BRL-CAD/libtiff
	branch = RELEASE
	ignore = dirty
[submodule "onetbb/oneTBB"]
	path = onetbb/oneTBB
	url = https://github.com/BRL-CAD/oneTBB
	branch = RELEASE
	ignore = dirty
[submodule "llvm/llvm-project"]
	path = llvm/llvm-project
	url = https://github.com/BRL-CAD/llvm-project
	branch = RELEASE
	ignore = dirty
[submodule "zstd/zstd"]
	path = zstd/zstd
	url = https://github.com/BRL-CAD/zstd
	branch = RELEASE
	ignore = dirty
[submodule "boost/boost"]
	path = boost/boost
	url = https://github.com/BRL-CAD/boost
	branch = RELEASE
	ignore = dirty
[submodule "openexr/openexr"]
	path = openexr/openexr
	url = https://github.com/BRL-CAD/openexr
	branch = RELEASE
	ignore = dirty
[submodule "opencolorio/OpenColorIO"]
	path = opencolorio/OpenColorIO
	url = https://github.com/BRL-CAD/OpenColorIO
	branch = RELEASE
	ignore = dirty
[submodule "openimageio/oiio"]
	path = openimageio/oiio
	url = https://github.com/BRL-CAD/oiio
	branch = RELEASE
	ignore = dirty
[submodule "osl/OpenShadingLanguage"]
	path = osl/OpenShadingLanguage
	url = https://github.com/BRL-CAD/OpenShadingLanguage
	branch = RELEASE
	ignore = dirty
[submodule "embree/embree"]
	path = embree/embree
	url = https://github.com/BRL-CAD/embree
	branch = RELEASE
	ignore = dirty
[submodule "rkcommon/rkcommon"]
	path = rkcommon/rkcommon
	url = https://github.com/BRL-CAD/rkcommon
	branch = RELEASE
	ignore = dirty
[submodule "ispc/ispc"]
	path = ispc/ispc
	url = https://github.com/BRL-CAD/ispc
	branch = RELEASE
	ignore = dirty
[submodule "ospray/ospray"]
	path = ospray/ospray
	url = https://github.com/BRL-CAD/ospray
	branch = RELEASE
	ignore = dirty
[submodule "ncurses/ncurses"]
	path = ncurses/ncurses
	url = https://github.com/BRL-CAD/ncurses
	ignore = dirty
[submodule "tcl/tcl"]
	path = tcl/tcl
	url = https://github.com/BRL-CAD/tcl.git
	branch = RELEASE
	ignore = dirty
[submodule "manifold/manifold"]
	path = manifold/manifold
	url = https://github.com/BRL-CAD/manifold.git
	branch = RELEASE
	ignore = dirty
[submodule "appleseed/appleseed"]
	path = appleseed/appleseed
	url = https://github.com/BRL-CAD/appleseed
	ignore = dirty
[submodule "geogram/geogram"]
	path = geogram/geogram
	url = https://github.com/BRL-CAD/geogram.git
	branch = RELEASE
        ignore = dirty
[submodule "gte/GeometricTools"]
	path = gte/GeometricTools
	url = https://github.com/BRL-CAD/GeometricTools
